# Config
!config/default.json
!config/development.json.sample
config/*.json

# Next
.next
out

# Logs
npm-debug.log*
coverage

# NPM
node_modules/

# Transpiled code
dist
out
.out

# Dev tools
.DS_Store
.vscode
.idea
*.swp
*.bak

node_modules.nosync/
*.env.*